{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Movie{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="title">Title</label>
    <input name="title" id="title" value="{{ request.form['title'] }}" required>
    <label for="year">Year</label>
    <input name="year" id="year" value="{{ request.form['year'] }}">
    <label for="rating">Rating</label>
    <input name="rating" id="rating" value="{{ request.form['rating'] }}">
    <label for="url">URL</label>
    <input name="url" id="url" value="{{ request.form['url'] }}">
    <input type="submit" value="Save">
  </form>
{% endblock %}