{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Movies{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('catalog.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for movie in movies %}
    <article class="post">
      <header>
        <div>
          <h1>{{ movie['title'] }}</h1>
          <div class="about">Year: {{ movie['year'] }}, Rating: {{ movie['rating'] }}</div>
        </div>
        <a class="action" href="{{ url_for('catalog.update', id=movie['id']) }}">Edit</a>
      </header>
      <p class="body"><a href="{{ movie['url'] }}">{{ movie['url'] }}</a></p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}