{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ movie['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="title">Title</label>
    <input name="title" id="title"
      value="{{ request.form['title'] or movie['title'] }}" required>
    <label for="year">Year</label>
    <input name="year" id="year"
      value="{{ request.form['year'] or movie['year'] }}">
    <label for="rating">Rating</label>
    <input name="rating" id="rating"
      value="{{ request.form['rating'] or movie['rating'] }}">
    <label for="url">URL</label>
    <input name="url" id="url"
      value="{{ request.form['url'] or movie['url'] }}">
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('catalog.delete', id=movie['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}